.form {
  width: 700px;
  margin-bottom: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 52%,
    rgba(2, 0, 36, 1) 100%
  );
}
.exemple-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.text-box {
  width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.text-exemple {
  display: flex;
  font-size: 15px;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 20px;
}
