.header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 20px;
}

.logo {
  position: absolute;
  top: 80%;
}

.options {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
